/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    font-family: "Fredoka", sans-serif;


}

header {
    display: flex;
    justify-content: center;
    padding: 2.0rem 0 3.75rem 0;

}

header h1 {
    color: rgb(229, 49, 112);
    font-weight: 800;
    font-size: 2.125rem;
}



p {
    text-align: center;
    padding-bottom: 3.125rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;


}



.person {
    background-color: rgb(15, 14, 23);
    width: calc(100% / 3 - 30px);
    height: 100px;

    color: #fffffe;
    flex-shrink: 0;
    margin: 0px 15px 30px 15px;
    display: flex;


}

.info-person {
    padding-left: 15px;

}

span {
    font-size: 15px;
}

a {
    color: #00458b;
}

.name {
    padding-top: 10px;
}

.job {

    padding: 10px 0px;
    font-size: .75rem;
}